/* coding with nick */
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  box-sizing: border-box;
}
/* menu bar  */
body{
  margin: 0;
  background-color: #ba68c8  ;
}
#container{
  display: flex;
  justify-content: space-between;
  background:#9c27b0 ;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 1);
}
#container ul{
  display: flex;

  
  
}
#container li{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1bee7;
  margin-right: 100px;
  border-radius: 10px;
  border: none;
  color: black;
  list-style-type: none;
}
#container #quize-bar:hover, #create-bar:focus{
  background-color: #a28e1f;
}

#container #quize-bar:hover, #create-bar:hover{
  
  cursor: pointer;
  background: rgb(160, 142, 142);
  color: whitesmoke;
}

#container .logo{
  width: 90px;
  margin-left: 100px;
}



/*quiz-container​*/

.quiz-container{
  display: none;
  margin: 20px auto;
  background-color: #e1bee7;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 700px;
  overflow: hidden;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0,0.3);
}
.quiz-header{
  padding: 1rem;
}

.showScore{
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin:2rem auto;
  color: black;
}

h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
}

ul li{
  font-size: 1rem;
  margin: 1rem;
  
}

input[type="radio"]{
  display: none;
}
ul li label{
  border-radius: 6px;
  font-family: sans-serif;
  background-color: #ab47bc;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  color: white;
}
ul li label:hover{
  
  background-color: #7b1fa2;
}

button{
  background-color: #8e24aa ;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}
button:hover{
  background-color: #6a1b9a;
}
button:focus{
  outline: none;
  background-color: #6a1b9a;
}

/* start quiz */
.quiz_box{
  display: none;
  width: 250px;
  padding: 20px;
  margin: 20px auto;
  background-color: #e1bee7;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0,0.3);
  border-radius: 15px;
}
.quiz_header{
  background-color: #9c27b0;
  color: #fff;
  text-align: center;
  padding: 1px;
  margin: -20px -20px 0px;
  border-radius: 15px 15px 0 0;
  font-style: 20px;
}

.quiz_footer{
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  background-color: #7b1fa2;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
}


/* create quiz */
.form-container{
  display: none;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0,0.3);
  width: 720px;
  margin: 20px auto;
  background-color: #e1bee7;
  border-radius: 15px;
  opacity: 0.8;

}
.form-custom:hover{
  width: 100%;
  border-bottom: 1.5px solid #7b1fa2;
}
.form-custom{
  background: #e1bee7;
  
  width: 200px;
  padding: 10px;
  transition:width 2s;
  box-sizing: border-box;
  
  border:none;
  outline: none;
  border-bottom: 1px solid #aaa;
}

.form-group{
  padding: 10px;
  margin-left: 20px;

}
.form-control:hover{
  width: 100%;
  border-bottom: 1.5px solid #7b1fa2;
}
.form-control{
  background: #e1bee7;
  
  width: 200px;
  padding: 10px;
  transition:width 2s;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
}
.title {
  border-radius: 15px 15px 0 0;
  background-color: #9c27b0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.btn-center{
  
  display: flex;
  justify-content: space-around;
}
.btn-center p{
  padding: 10px 60px;
  border: none;
  font-style: 17px;
  text-transform: capitalize;
  color: black;
  background-color: #7b1fa2;
  border-radius: 5px;
  cursor: pointer;
}
.btn-center p:hover{
  color: white;
}


.form-title{
  padding: 5px;
  border: none;
  margin-top: 25px;    
  margin-left: 10px;
  outline: none;
  border-bottom: 1px solid #e1bee7;
  background: #9c27b0;
  text-transform: capitalize;
}
.form-title::placeholder{
  color: rgb(44, 43, 43);

}

/* body_container */
.body_container{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  /* background-color: blueviolet; */
}
.text_homepage{
  width: 50%;
  /* background-color: brown; */
  font-family: 'Dongle', sans-serif;
  text-align: center;
  
}
.text_homepage h1{
  margin-top: 25vh;
  margin-bottom: 0;
  font-size: 65px;
  color: #16d9e3;
}
.text_homepage h1 span{
  color: orange;
}
.text_homepage h1 .span1{
  color: #77df23;
}
.text_homepage h2{
  padding: 0;
  font-size: 30px;
  line-height: 0;
}
.banner{
  width: 50%;
  text-align: center;
}

/* <!-- show question view --> */
.show-que{
  
  box-shadow: 0 0 5px 3px rgba(0, 0, 0,0.3);
  border-left: 6px solid #7b1fa2;
  background-color: #e1bee7;
  border-radius: 10px;
  width: 53%;
  margin: auto;
  margin-bottom: 20px;
}
.show-que div{
  padding: 0.5rem 2rem;
}
.show-que div #q_tion{
  border-bottom: 1px solid #c266e9;
  padding: 5px;
}

.show-que div .rad{
  font-size: 1.2rem;
  margin: 0 0 15px 10px;
  
}