/* menu bar  */
body{
    margin: 0;
}
#container{
    display: flex;
    justify-content: space-around;
    background: teal;
}
ul{
    display: flex;
    
}

#quize-bar{
    transition-duration: 0.5s;
    margin-right: 100px;
    padding: 10px;
    border-radius: 10px 5px;
    border: none;
    color: orange;
}
#quize-bar:hover, #create-bar:hover{
    
    cursor: pointer;
    background: rgb(160, 142, 142);
    color: whitesmoke;
}
#create-bar{
    color: orange;
    transition-duration: 0.5s;
    margin-right: 250px;
    padding: 10px;
    border-radius: 10px 5px;
    border: none;
}
li{
    list-style-type: none;
}
.logo{
    width: 90px;
    height: 70px;
}

/* ///////////////////////////////////////////////////////////// */

/* ////// Card content //////  */

.card_content{
    width: 50%;
    margin:1rem auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}
.content_item{
    border-radius: 5px;
    width: 95%;
    height: 20vh;
    padding: 5px;
    color: white;
    background-color: blueviolet;
}

/* //////// card show ////// */

.card_title{
    width: 50%;
    margin: auto;
    text-align: center;
}
.get_title{
    color: red;
}
/*/////// show Question and answers on page ///////////*/

.card{
    margin: auto;
    width: 80%;
    padding:0.5rem;
    border-radius: 5px;
}

.showQuestion{
    margin:2rem auto; 
    width: 60%;
    padding: 5px;
    border-bottom: 1px solid cadetblue;
}
.card_body{
    margin: auto;
    width: 60%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.card_item{
    background-color: gray;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* //////// button on page /////// */

.btn_botoom, .set_score{
    padding: 1rem;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    font-size: larger;
}

.btn_next{
    background-color: rgb(6, 102, 247);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn_next a{
    text-decoration: none;
    color: white;
}

/* ///////// hover on select answers and click on next ////// */

.card_item:hover{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.btn_next:hover{
    opacity: 80%;
}

/* //////// create button //// */
.content_item .btn_content{
    padding: 4px;
    display: flex;
    justify-content: flex-end;
}

.btn_edit, .btn_delete{
    width: 1.2rem;
    padding: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.image{
    width: 100%;
}
.title_item{
    text-align: center;
}
