/* coding with nick */
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  box-sizing: border-box;
}
/* menu bar  */
body{
  margin: 0;
  background-color: #ba68c8  ;
}
#container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#9c27b0 ;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 1);
}
#container ul{
  display: flex;
}
#container li{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1bee7;
  margin-right: 100px;
  border-radius: 10px;
  border: none;
  color: black;
  list-style-type: none;
  padding: 10px;
}
#container #quize-bar:hover, #create-bar:focus{
  background-color: #a28e1f;
}

#container #quize-bar:hover, #create-bar:hover{
  
  cursor: pointer;
  background: rgb(160, 142, 142);
  color: whitesmoke;
}

#container .logo{
  width: 90px;
  margin-left: 100px;
  height: 85px;
}


/*quiz-container​*/
.quiz-container{
  background-color: #e1bee7;
  display: none;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 60%;
  margin: 20px auto;
  font-family: sans-serif;
}
.quiz-container .quiz-header{
  padding: 1rem;
}

.quiz-container .showScore{
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin:2rem auto;
}

.quiz-container h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}

.quiz-container ul{
  list-style-type: none;
  padding: 10px;
  
}

.quiz-container ul li{
  font-size: 1rem;
  padding: 10px;
 
}

.quiz-container ul li label{
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
}
.quiz-container ul li input[type='radio']{
    padding: 10px;
    margin: 5px;
    transform: scale(1.7);
}

.quiz-container button{
  background-color: #7b1fa2;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
  border-radius: 0 0 10px 10px;
}
button:hover{
  background-color: #9c27b0;
}
button:focus{
  outline: none;
  background-color: #7b1fa2;
}

.hide{
  display: none;
}
/* / / ///////////// VIEW QUIZ //////////// / / */

.viewAnswers{
  width: 60%;
  margin:2rem auto;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
}
#viewQ{
  text-align: center;
}
.ul-ViewsAnswers{
  background-color: #e1bee7;
  border: 4px solid rgb(253, 100, 29);
  margin: 1rem 0;
  border-radius: 10px;
  padding: 20px;
  font-family: sans-serif;
}

.li-answer{
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  list-style: none;
  background-color: gray;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#viewAll-answer{
  background-color: #44b927;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: larger;
  border: none;
  margin: 10px 44%;

}
.showScore{
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px;
  color: white;
}
.correctAnswerAll{
  text-align: center;
  padding: 20px;
  font-size: 25px;
  font-family: sans-serif;

}


/* start quiz */
.quiz_box{
  display: none;
  width: 250px;
  padding: 20px;
  margin: 20px auto;
  background-color: #e1bee7;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0,0.3);
  border-radius: 15px;
}
.quiz_header{
  background-color: #9c27b0;
  color: #fff;
  text-align: center;
  padding: 1px;
  margin: -20px -20px 0px;
  border-radius: 15px 15px 0 0;
  font-style: 20px;
}

.quiz_footer{
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  background-color: #7b1fa2;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
}


/* create quiz */
.container-form-showQuestion{
  display: none;
  width: 100%;
  
}
.form-container{
  
  box-shadow: 0 0 5px 3px rgba(0, 0, 0,0.3);
  width: 720px;
  margin: 20px auto;
  background-color: #e1bee7;
  border-radius: 15px;
  opacity: 0.8;

}
.form-custom:hover{
  width: 100%;
  border-bottom: 1.5px solid #7b1fa2;
}
.form-custom{
  background: #e1bee7;
  
  width: 200px;
  padding: 10px;
  transition:width 2s;
  box-sizing: border-box;
  
  border:none;
  outline: none;
  border-bottom: 1px solid #aaa;
}

.form-group{
  padding: 10px;
  margin-left: 20px;

}
.form-control:hover{
  width: 100%;
  border-bottom: 1.5px solid #7b1fa2;
}
.form-control{
  background: #e1bee7;
  
  width: 200px;
  padding: 10px;
  transition:width 2s;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
}
.title {
  border-radius: 15px 15px 0 0;
  background-color: #9c27b0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.btn-center{
  
  display: flex;
  justify-content: space-around;
}
.btn-center .next{
  padding: 10px 60px;
  border: none;
  font-style: 17px;
  text-transform: capitalize;
  color: black;
  background-color: #7b1fa2;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
}
.btn-center p:hover{
  color: white;
}


/* body_container */
.body_container{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
 
}
.text_homepage{
  width: 50%;
  font-family: 'Dongle', sans-serif;
  text-align: center;
  
}
.text_homepage h1{
  margin-top: 25vh;
  margin-bottom: 0;
  font-size: 65px;
  color: #16d9e3;
}
.text_homepage h1 span{
  color: orange;
}
.text_homepage h1 .span1{
  color: #77df23;
}
.text_homepage h2{
  padding: 0;
  font-size: 30px;
  line-height: 0;
}
.banner{
  width: 50%;
  text-align: center;
}

/* <!-- show question view --> */
.show-que{
  font-family: sans-serif;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0,0.2);
  border-top: 6px solid #7b1fa2;
  background-color: #e1bee7;
  border-radius: 10px;
  width: 54%;
  margin:10px 0% 10px 23% ;
}
.show-que .q_tion{
  padding: 10px 30px;
  display: flex;
  align-items: center;
}

.div_showQuestion{
  display: flex;
  align-items: center;
  
 
}
.img_dele,
.img_edit{
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 5px;
  
  
}
.btnDE{
  display: grid;
  margin:  5px 5px auto;
  padding-top: 10px;

}
